<div id="fullpage">
  <div class="section main">
    <div class="wrap-xs text-center">
      <h1>JEx</h1>
      <p>Automatización de pagos gone easy</p>
    </div>
  </div>
  <div class="section">
    <div class="wrap-xs text-left">
      <h1>Aquí te explicaría lo chingón de mi proyecto</h1>
      <p>Si tan solo lo fuera</p>
    </div>
  </div>
  <div class="section">
    <div class="wrap-xs text-right">
      <h1>Así que sólo llenaré espacio</h1>
      <p>Lorem ipsum dolor sit amet</p>
    </div>
  </div>
  <div class="section">
    <div class="wrap-xs text-right">
      <h1>Mucho espacio</h1>
      <p>Lorem ipsum dolor sit amet</p>
    </div>
  </div>
</div>